{% extends 'base.html' %}
{% load staticfiles %}

<!-- BEGIN PAGE BASE CONTENT -->

<!-- Header Dashboard -->
{% block header %} {{header}} {% endblock %}

<!-- Breadcrum -->
{% block breadcrumb %}{% endblock %}

<!-- Custom CSS -->
{% block css %}
	<!-- <link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css" /> -->
{% endblock %}
<!-- end Custom CSS -->


{% block content %}
<!-- BEGIN PAGE BASE CONTENT -->

<div class="card card-shadow mb-4">
	<div class="card-header">
		<div class="card-title">
			<i class="icon-user"></i> {{header}}
		</div>
	</div>
	<!-- Card Body -->
	<div class="card-body form">
		<form action="" class="form-horizontal" enctype="multipart/form-data" method="post" role="form">
			<!-- Form Body -->
			<div class="form-body">
				{% csrf_token %}
				{% if message %}
					<div class="alert alert-danger">
						<button class="close" data-dismiss="alert"><i class="fa fa-close"></i></button> 
						{{message}}
					</div>
				{% endif %}

				<div class="form-group col-md-6">
					<label class="control-label" for="{{form.password.id}}">{{form.password.label}}</label>
					{{form.password}}
				</div>

				<div class="form-group col-md-6">
					<label class="control-label" for="{{form.password2.id}}">{{form.password2.label}}</label>
				   {{form.password2}}
				</div>

				<div class="form-actions col-md-6">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>

			</div>
		</form>
	</div>
</div>


<!-- END PAGE BASE CONTENT -->
{% endblock %}

<!-- Custom JS -->
{% block js %}
	<!-- <script src="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}" type="text/javascript"></script> -->
{% endblock %}
<!-- End Custom JS -->

